@import 'variables.scss';
@import 'mixins-functions.scss';

body{
    background-color: $medioPurple;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        background-color: $ligthenPurple;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background: $purple;
    }
    &::-webkit-scrollbar-thumb {
        background: $purple;
        border-radius: 10px;
    }
}

header{
    width: 100%;
    height: 250px;
    padding: 50px 0;
    display: flex;
    position: relative;
    justify-content: center;
    // background-color: darken($color: #ffcaed, $amount: 5);
    // margin-bottom: 50px;

    &::after{
        content: '';
        height: 5px;
        width: 1700px;
        background-color: darken($color: #ffcaed, $amount: 5);
        position: absolute;
        bottom: 0;

        @media (max-width: 1024px) {
            width: 950px;
        }

        @media (max-width: 768px) {
            width: 680px;
        }

        @media (max-width: 480px) {
            width: 320px;
        }
    }

    .container-center{
        @include containerCenter;
        
        .header-top{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .header-title{
                @include titles;

                @media (max-width: 480px) {
                    font-size: calculadora-rem(55);
                    font-weight: 500;
                }
            }
            .header-slogan{
                @include subTitles;

                @media (max-width: 480px) {
                    font-size: calculadora-rem(20);
                }
            }
        }

        .group-wrapper{
            display: flex;
            align-items: center;

            .group-circle{
                background-color: $white;
                margin: 0 10px;
                height: 20px;
                width: 20px;
                border-radius: 100%;

                @media (max-width: 480px) {
                    height: 15px;
                    width: 15px;
                }
            }

            .group-title{
                color: $purple;
                font-size: calculadora-rem(30);
                font-weight: 500;
                text-transform: uppercase;
                font-family: $robotoSerif;

                @media (max-width: 480px) {
                    font-size: calculadora-rem(20);
                }
            }
        }
    
        .header-bottom{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 480px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: start;
            }

            .box-price, .award-box{
                width: 50%;
                padding: 0 100px;

                @media (max-width: 480px) {
                    display: flex;
                    justify-content: start;
                }
            }

            .box-price{
                display: flex;
                justify-content: flex-end;
                position: relative;
                &::after{
                    content: '';
                    width: 3px;
                    height: 100%;
                    background-color: $purple;
                    position: absolute;
                    right: 0;

                    @media (max-width: 480px) {
                        display: none;
                    }

                    
                }

                @media (max-width: 480px) {
                    align-items: flex-start;
                    justify-content: center;
                }
            }
            
            .price, .award{
                    color: $darkhenPurple;
                    margin-right: 10px;
            }

            .award-value, .price-value{
                color: $ligthenGreen;
            }
           
            .price, .price-value, .award, .award-value{
                font-size: calculadora-rem(25);
                font-family: $mukta;

                @media (max-width: 480px) {
                    font-size: calculadora-rem(20);
                }
            }
        }
    }
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: center;

    .container-names{
        display: flex;
        flex-wrap: wrap;
        width: 1550px;
        border: 1px solid $purple;
        // justify-content: center;

        @media (max-width: 1024px) {
            border: none;
            margin: 0 47px;
        }

        @media (max-width: 768px) {
            margin: 0 74px;
        }

        @media (max-width: 480px) {
            margin: 0 30px;
        }

        .name-box{
            border: 1px solid $purple;
            width: 155px;
            height: 155px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            // cursor: pointer;

            @media (max-width: 768px) {
                width: 122px;
                height: 122px;
            }

            @media (max-width: 480px) {
                width: 78px;
                height: 78px;
                padding: 10px;
            }   

            &:hover{
                background-color: #f8e6f2BF;
            }
        }
        .name{
            font-size: calculadora-rem(30);
            font-family: $mukta;
            margin-bottom: 25px;
            color: $darkhenPurple;
            font-weight: 700;

            @media (max-width: 768px) {
                font-size: calculadora-rem(25); 
            }

            @media (max-width: 480px) {
                    font-size: calculadora-rem(15); 
                    margin-bottom: 5px;
            }
        }

        .button-buy{
            background-color: #fff;
            border: 1px solid $darkhenPurple;
            box-shadow: 2px 5px 15px -2px rgba(0,0,0,0.52);
            min-height: 30px;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            color: $darkhenPurple;
            font-weight: 600;
            font-family: $mukta;
               
            &:hover, &:focus {
                box-shadow: 0 4px 6px 0 $darkhenPurple;
                transform: translateY(-4px);
            }      
        }
        .buyer{
            font-size: calculadora-rem(18);
            min-height: 22px;
            font-family: $robotoSerif;
            color: $darkhenPurple;
            font-weight: 300;
            width: 100%;
            border: none;
            background-color: transparent;
            text-align: center;
            padding-bottom: 4px;
            box-sizing: border-box;
            outline: none;
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: calculadora-rem(15);
                font-weight: 400;
            }

            @media (max-width: 480px) {
                font-size: calculadora-rem(11); 
                font-weight: 500;
            }
        }


    }
}


footer{
    margin-top: 50px;
    width: 100%;
    height: 350px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    position: relative;

    &::after{
        content: '';
        height: 5px;
        width: 1700px;
        background-color: darken($color: #ffcaed, $amount: 5);
        position: absolute;
        top: 0;
        @media (max-width: 1024px) {
            width: 950px;
        }

        @media (max-width: 768px) {
            width: 680px;
        }

        @media (max-width: 480px) {
            width: 320px;
        }
    }
    .container-center{
        @include containerCenter;
        flex-direction: row;
        width: 1552px;
        align-items: flex-start;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 480px) {
            width: 90%;
            align-items: center;
        }

        .logo-networks-wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            @media (max-width: 1024px) {
                margin-bottom: 20px;
            }

            @media (max-width: 480px) {
                width: 90%;
                align-items: center;
            }

            .logo-footer{
                @media (max-width: 480px) {
                    width: 90%;
                    margin-bottom: 20px;
                }

                img{
                    width: 250px;

                    @media (max-width: 480px) {
                        width: 100%;
                    }
                }  
            }

            .networks{
                display: flex;
                width: 250px;
                justify-content: space-around;

                @media (max-width: 480px) {
                    width: 200px;
                }
                .insta{
                    width: 57px;

                    @media (max-width: 480px) {
                        width: 45px;
                    }
                    svg{
                        *{
                            fill: $darkhenPurple;
                        }
                    }  
                }

                .facebook{
                    width: 37px;

                    @media (max-width: 480px) {
                        width: 25px;
                    }

                    svg{
                        *{
                            fill: $darkhenPurple;
                        }
                    }
                }
            }
        }

        .info-cletha-wrapper{
            display: flex;
            width: 70%;
            justify-content: space-between;

            @media (max-width: 480px) {
                flex-direction: column;
                width: 100%;
            }

            .whastpp-info{
                width: 45%;
                @media (max-width: 480px) {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .info-text, .info-name{
                    font-family: $mukta;
                    font-size: calculadora-rem(22);
                    color: $purple;

                    @media (max-width: 768px) {
                        font-size: calculadora-rem(20);
                    }
                }

                div{
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    .info-number{
                        font-family: $robotoSerif;
                        color: $green;
                        font-size: calculadora-rem(23);
                        margin: 0 10px;
                        text-decoration: none;
                        position: relative;

                        @media (max-width: 768px) {
                            font-size: calculadora-rem(18);
                        }    
                        
                        &::after{
                            content: '';
                            height: 1px;
                            width: 0px;
                            background-color: $green;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transition-duration: 500ms;
                            display: flex;
                            align-items: center;
                        }

                        &:hover{
                            &::after{
                                width: 100%;
                                position: absolute;
                                left: 2px;
                            }
                        }
                    }
                }

                svg{
                    width: 25px;
                    *{
                        fill: $darkhenPurple;
                    }
                }
            }

            .value-wrapper{
                width: 45%;
                @media (max-width: 480px) {
                    width: 100%;
                }
                
                .award-date-wrapper, .price-info, .award-value-info{
                    margin-bottom: 10px;
                        
                }

                .date-info, .price-text, .award-text{
                    font-size: calculadora-rem(25);
                    font-family: $mukta;
                    color: $darkhenPurple;

                    @media (max-width: 768px) {
                        font-size: calculadora-rem(18);
                    }
                }

                .date-award, .price-value, .award-value{
                    font-size: calculadora-rem(25);
                    color: $green;

                    @media (max-width: 768px) {
                        font-size: calculadora-rem(18);
                    }
                }

                svg{
                    width: 20px;
                    *{
                        fill: $purple;
                    }
                }
            }
        }
    }
}

.container-modal{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px solid antiquewhite;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);

    .modal-buy-name{
        height: 300px;
        width: 50%;
        background-color: #fff;
        border: 2px solid $darkhenPurple;
        position: fixed;
        left: 25%;
        top: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;

        .modal-title{
            font-size: calculadora-rem(35);
            font-weight: 700;
            color: $darkhenPurple;
            margin-bottom: 20px;
        }

        .container-input-button{
            margin-bottom: 20px;
        }

        .name-buyer-modal{
            height: 25px;
            padding: 5px;
            box-sizing: border-box;

        }
    }
}