@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;800&display=swap");
body {
  background-color: #ffcaed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 250px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header::after {
  content: '';
  height: 5px;
  width: 1700px;
  background-color: #ffb1e4;
  position: absolute;
  bottom: 0;
}

header .container-center {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-center .header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-center .header-top .header-title {
  font-size: 6.25rem;
  font-family: "Roboto Serif", sans-serif;
  text-transform: uppercase;
  color: #861742;
}

header .container-center .header-top .header-slogan {
  font-size: 2.1875rem;
  font-family: "Roboto Serif", sans-serif;
  color: #861742;
  font-weight: 400;
}

header .container-center .group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-center .group-wrapper .group-circle {
  background-color: #fff;
  margin: 0 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

header .container-center .group-wrapper .group-title {
  color: #ba6688;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto Serif", sans-serif;
}

header .container-center .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-center .header-bottom .box-price, header .container-center .header-bottom .award-box {
  width: 50%;
  padding: 0 100px;
}

header .container-center .header-bottom .box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

header .container-center .header-bottom .box-price::after {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #ba6688;
  position: absolute;
  right: 0;
}

header .container-center .header-bottom .price, header .container-center .header-bottom .award {
  color: #861742;
  margin-right: 10px;
}

header .container-center .header-bottom .award-value, header .container-center .header-bottom .price-value {
  color: #66ba6d;
}

header .container-center .header-bottom .price, header .container-center .header-bottom .price-value, header .container-center .header-bottom .award, header .container-center .header-bottom .award-value {
  font-size: 1.5625rem;
  font-family: "Mukta", sans-serif;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1550px;
  border: 1px solid #ba6688;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container-names .name-box {
  border: 1px solid #ba6688;
  width: 155px;
  height: 155px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  cursor: pointer;
}

main .container-names .name-box:hover {
  background-color: #f8e6f2BF;
}

main .container-names .name-box .name {
  font-size: 1.875rem;
  font-family: "Mukta", sans-serif;
  margin-bottom: 30px;
  color: #861742;
  font-weight: 700;
  cursor: pointer;
}

main .container-names .name-box .input-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

main .container-names .name-box .input-box::after {
  content: '';
  height: 1px;
  background-color: #ba6688;
  width: 0px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  position: absolute;
  bottom: 0;
  left: 50%;
}

main .container-names .name-box .input-box:focus-within::after {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .container-names .name-box .buyer {
  font-size: 1.125rem;
  min-height: 22px;
  font-family: "Mukta", sans-serif;
  color: #861742;
  font-weight: 300;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  padding-bottom: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 350px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

footer::after {
  content: '';
  height: 5px;
  width: 1700px;
  background-color: #ffb1e4;
  position: absolute;
  top: 0;
}

footer .container-center {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 1552px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container-center .logo-networks-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

footer .container-center .logo-networks-wrapper .logo-footer img {
  width: 250px;
}

footer .container-center .logo-networks-wrapper .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container-center .logo-networks-wrapper .networks .insta {
  width: 57px;
}

footer .container-center .logo-networks-wrapper .networks .insta svg * {
  fill: #861742;
}

footer .container-center .logo-networks-wrapper .networks .facebook {
  width: 37px;
}

footer .container-center .logo-networks-wrapper .networks .facebook svg * {
  fill: #861742;
}

footer .container-center .info-cletha-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container-center .info-cletha-wrapper .whastpp-info {
  width: 45%;
}

footer .container-center .info-cletha-wrapper .whastpp-info .info-text, footer .container-center .info-cletha-wrapper .whastpp-info .info-name {
  font-family: "Mukta", sans-serif;
  font-size: 1.375rem;
  color: #ba6688;
}

footer .container-center .info-cletha-wrapper .whastpp-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

footer .container-center .info-cletha-wrapper .whastpp-info div .info-number {
  font-family: "Roboto Serif", sans-serif;
  color: #178633;
  font-size: 1.4375rem;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
}

footer .container-center .info-cletha-wrapper .whastpp-info div .info-number::after {
  content: '';
  height: 1px;
  width: 0px;
  background-color: #178633;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container-center .info-cletha-wrapper .whastpp-info div .info-number:hover::after {
  width: 100%;
  position: absolute;
  left: 2px;
}

footer .container-center .info-cletha-wrapper .whastpp-info svg {
  width: 25px;
}

footer .container-center .info-cletha-wrapper .whastpp-info svg * {
  fill: #861742;
}

footer .container-center .info-cletha-wrapper .value-wrapper {
  width: 45%;
}

footer .container-center .info-cletha-wrapper .value-wrapper .award-date-wrapper, footer .container-center .info-cletha-wrapper .value-wrapper .price-info, footer .container-center .info-cletha-wrapper .value-wrapper .award-value-info {
  margin-bottom: 10px;
}

footer .container-center .info-cletha-wrapper .value-wrapper .date-info, footer .container-center .info-cletha-wrapper .value-wrapper .price-text, footer .container-center .info-cletha-wrapper .value-wrapper .award-text {
  font-size: 1.5625rem;
  font-family: "Mukta", sans-serif;
  color: #861742;
}

footer .container-center .info-cletha-wrapper .value-wrapper .date-award, footer .container-center .info-cletha-wrapper .value-wrapper .price-value, footer .container-center .info-cletha-wrapper .value-wrapper .award-value {
  font-size: 1.5625rem;
  color: #178633;
}

footer .container-center .info-cletha-wrapper .value-wrapper svg {
  width: 20px;
}

footer .container-center .info-cletha-wrapper .value-wrapper svg * {
  fill: #ba6688;
}
/*# sourceMappingURL=styles.css.map */